# Ignore Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.so

# Ignore virtual environments
.venv/
env/
*.env

# Ignore training checkpoints and junk
*.tfevents.*
Bert_results/checkpoint*/
Bert_results/runs/

# Ignore unused training scripts
TextClassifierBERT.py
TextClassifierDNN.py

#dont need the data
 *.csv

# OS + editor files
.DS_Store
.idea/
.vscode/

# Git
.git/
