# Ignore Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.so

# Ignore virtual environments
.venv/
env/
*.env

# Ignore model files and large artifacts
*.safetensors
*.bin
*.keras
*.h5
*.pt
*.pickle
*.tfevents.*
*.csv
__pycache__/
.git/

# Ignore training outputs
Bert_results/checkpoint*/
Bert_results/runs/
DNN_results/*.keras
DNN_results/*.pickle

# OS + editor files
.DS_Store
.idea/
.vscode/

# Git files
.git/
