<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>AI vs Human Text Classifier</title>
</head>
<body>
    <center>
    <h1>AI vs Human Text Classifier</h1>
    <form method="POST">
        <textarea name="text" rows="10" cols="80" placeholder="Paste your text here..."></textarea><br><br>
        <button type="submit">Analyze</button> </center>
    </form>

    {% if result %}
    <center>
    <h2>Results:</h2>
    <p><strong>DNN Prediction:</strong> {{ result.dnn.label }} (Confidence: {{ result.dnn.confidence | round(2) }})</p>
<p><strong>BERT Prediction:</strong> {{ result.bert.label }} (Confidence: {{ result.bert.confidence | round(2) }})</p>
    <p> *Note: These are both extremely flawed models, and should not be used as concrete evidence of AI use, instead, they were developed to show the differences between Transformer and DNN ML models, and to aid in the understanding of these technologies.</p>
    <p>No 'text classifier' of any kind should be considered definitive.</p>
    <p>Developed by Justin Verlin, on 7/18/2025, Github: https://github.com/JustinV200</p>
    </center>
    {% endif %}
</body>
</html>